body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #efd4dd;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;

}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

#search {
    margin-bottom: 2rem;
}

#weather-form {
    display: flex;
    gap: 1rem;
}

#city-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #a49e68;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c9a1b1;
}

#weather-display {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#weather-container {
    font-size: 1.2rem;
}
#weather-box {
    position: relative;
    border: 2px solic #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white ;
}

#unit-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

p {
    margin: 0.5rem 0;
}

footer {
    background-color: #efd4dd;
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
